page-login {
    .corpo{
        background-color: #73A1A5;
    }

    .img{
        width: 190%;
    }
    
    .inputs{
        background-color: #99BABD;
        opacity: 0.8;
        margin-top: 15px;
        border-radius: 20px;
        color: white;
    }

    .login{
        margin-top: -50px;
    }

    .botaoLogin{
        background-color: #3B6064;
        border-radius: 20px;
        width: 100%;
        height: 45px;
        font-size: 20px;
        opacity: 0.8;
        font-family: 'Roboto', sans-serif;
    }

    .novaConta{
        color: white;
        text-align: center;
        width: 100%;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        text-decoration: none;
    }

    // .placeholder::placeholder{
    //     color: white;
    // }
}
